{"openapi":"3.0.0","info":{"title":"Ecommerce Platform API","description":"","version":"0.0.1"},"servers":[{"url":"https://x8ki-letl-twmt.n7.xano.io/api:hpskjcSO"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{}},"paths":{"/checkout/apply_coupon":{"post":{"summary":"Validate and apply a coupon code to the customer\u0027s order","description":"Validate and apply a coupon code to the customer\u0027s order\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":[""],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"result1":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"code":{"type":"string","description":""},"type":{"type":"string","description":""},"value":{"type":"number","description":""},"start_date":{"type":"string","format":"date","description":""},"end_date":{"type":"string","format":"date","description":""},"min_purchase_amount":{"type":"number","description":""},"usage_limit":{"type":"integer","format":"int64","description":""},"is_active":{"type":"boolean","description":"","default":"false"},"store_id":{"type":"integer","format":"int64","description":""}}},"discount1":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"code":{"type":"string","description":""},"type":{"type":"string","description":""},"value":{"type":"number","description":""},"start_date":{"type":"string","format":"date","description":""},"end_date":{"type":"string","format":"date","description":""},"min_purchase_amount":{"type":"number","description":""},"usage_limit":{"type":"integer","format":"int64","description":""},"is_active":{"type":"boolean","description":"","default":"false"},"store_id":{"type":"integer","format":"int64","description":""}}},"x1":{"type":"string"},"expired":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"coupon_code":{"type":"string","description":"The coupon code entered by the user"},"customer_id":{"type":"integer","format":"int64","description":"Unique identifier for the customer. This links the coupon to the specific customer\u0027s profile and cart"}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"coupon_code":{"type":"string","description":"The coupon code entered by the user"},"customer_id":{"type":"integer","format":"int64","description":"Unique identifier for the customer. This links the coupon to the specific customer\u0027s profile and cart"}}}}}}}},"/order/complete":{"post":{"summary":"This endpoint handles order completion, updates the stock, and processes the payment","description":"This endpoint handles order completion, updates the stock, and processes the payment\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":[""],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"total_price":{"type":"number","description":""},"status":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"tracking_number":{"type":"string","description":""},"shipping_carrier":{"type":"string","description":""},"store_id":{"type":"integer","format":"int64","description":""},"customer_id":{"type":"integer","format":"int64","description":""},"shipping_address_id":{"type":"integer","format":"int64","description":""},"platform_commission_rate":{"type":"number","description":"The commission rate applied by the platform for this order."},"platform_commission_amount":{"type":"number","description":"The calculated commission amount for the platform from this order."}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/orders/history":{"get":{"summary":"Fetches a list of all past orders for a specific customer. Includes details like order status, total price, tracking number, and shipping details","description":"Fetches a list of all past orders for a specific customer. Includes details like order status, total price, tracking number, and shipping details\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":[""],"security":[{"bearerAuth":[]}],"parameters":[{"name":"customer_id","in":"query","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"total_price":{"type":"number","description":""},"status":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"tracking_number":{"type":"string","description":""},"shipping_carrier":{"type":"string","description":""},"store_id":{"type":"integer","format":"int64","description":""},"customer_id":{"type":"integer","format":"int64","description":""},"shipping_address_id":{"type":"integer","format":"int64","description":""},"platform_commission_rate":{"type":"number","description":"The commission rate applied by the platform for this order."},"platform_commission_amount":{"type":"number","description":"The calculated commission amount for the platform from this order."}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/user/profile":{"get":{"summary":"Fetches the profile details of the authenticated user, including their name, email, phone number, and address","description":"Fetches the profile details of the authenticated user, including their name, email, phone number, and address\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":[""],"security":[{"bearerAuth":[]}],"parameters":[{"name":"customer_id","in":"query","description":"Customer ID to fetch their profile","required":false,"schema":{"type":"integer","format":"int64","default":0}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"name":{"type":"string","description":""},"email":{"type":"string","description":"","format":"email"},"phone":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"put":{"summary":"Update the user profile with new details. This allows users to modify their personal details like name, email, shipping address, etc.","description":"Update the user profile with new details. This allows users to modify their personal details like name, email, shipping address, etc.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":[""],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"name":{"type":"string","description":""},"email":{"type":"string","description":"","format":"email"},"phone":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"customer_id":{"type":"integer","format":"int64","description":""},"name":{"type":"string","description":""},"email":{"type":"string","description":"","format":"email"},"customer_address_id":{"type":"integer","format":"int64","description":""},"Phone_number":{"type":"string","description":""},"profile_picture":{"type":"object","properties":{"access":{"type":"string","description":"","enum":["public","private"],"default":"public"},"path":{"type":"string","description":""},"name":{"type":"string","description":""},"type":{"type":"string","description":""},"size":{"type":"integer","format":"int64","description":""},"mime":{"type":"string","description":""},"meta":{"type":"object","description":""}},"required":["path","name","type","size","mime","meta"],"nullable":true}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"customer_id":{"type":"integer","format":"int64","description":""},"name":{"type":"string","description":""},"email":{"type":"string","description":"","format":"email"},"customer_address_id":{"type":"integer","format":"int64","description":""},"Phone_number":{"type":"string","description":""},"profile_picture":{"type":"object","properties":{"access":{"type":"string","description":"","enum":["public","private"],"default":"public"},"path":{"type":"string","description":""},"name":{"type":"string","description":""},"type":{"type":"string","description":""},"size":{"type":"integer","format":"int64","description":""},"mime":{"type":"string","description":""},"meta":{"type":"object","description":""}},"required":["path","name","type","size","mime","meta"],"nullable":true}}}}}}}},"/Adding_Reviews":{"post":{"summary":"for reviewinfg products and other things to see if customer likes it or not","description":"for reviewinfg products and other things to see if customer likes it or not\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["Adding_Reviews"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"rating":{"type":"integer","format":"int64","description":""},"comment":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"product_id":{"type":"integer","format":"int64","description":""},"customer_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"user_id":{"type":"integer","format":"int64","description":""},"product_id":{"type":"integer","format":"int64","description":""},"rating":{"type":"integer","format":"int64","description":""},"review_text":{"type":"string","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"user_id":{"type":"integer","format":"int64","description":""},"product_id":{"type":"integer","format":"int64","description":""},"rating":{"type":"integer","format":"int64","description":""},"review_text":{"type":"string","description":""}}}}}}}},"/Analytics_Report":{"get":{"summary":"or sales data: \u0022Retrieves total sales and order details based on filters.\u0022","description":"or sales data: \u0022Retrieves total sales and order details based on filters.\u0022\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["Analytics_Report"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/Email_Notifications":{"post":{"summary":"receive the order details, customer info, and email template.","description":"receive the order details, customer info, and email template.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["Email_Notifications"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"total_price":{"type":"number","description":""},"status":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"tracking_number":{"type":"string","description":""},"shipping_carrier":{"type":"string","description":""},"store_id":{"type":"integer","format":"int64","description":""},"customer_id":{"type":"integer","format":"int64","description":""},"shipping_address_id":{"type":"integer","format":"int64","description":""},"platform_commission_rate":{"type":"number","description":"The commission rate applied by the platform for this order."},"platform_commission_amount":{"type":"number","description":"The calculated commission amount for the platform from this order."}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"order_id":{"type":"integer","format":"int64","description":""},"customer_email":{"type":"string","description":""},"email_templates_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"order_id":{"type":"integer","format":"int64","description":""},"customer_email":{"type":"string","description":""},"email_templates_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/Retrieving_Reviews":{"get":{"summary":"Retrieve reviews for a product by product_id","description":"Retrieve reviews for a product by product_id\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["Retrieving_Reviews"],"security":[],"parameters":[{"name":"product_id","in":"query","description":"","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"user_id","in":"query","description":"","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"rating","in":"query","description":"","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"review_text","in":"query","description":"","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"result1":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"rating":{"type":"integer","format":"int64","description":""},"comment":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"product_id":{"type":"integer","format":"int64","description":""},"customer_id":{"type":"integer","format":"int64","description":""}}},"rating":{"type":"string"},"review_text":{"type":"string"},"created_at":{"type":"string"},"user_id":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/abandoned_cart/{abandoned_cart_id}":{"delete":{"summary":"Delete abandoned_cart record.","description":"Delete abandoned_cart record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["abandoned_cart"],"security":[],"parameters":[{"name":"abandoned_cart_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"summary":"Get abandoned_cart record","description":"Get abandoned_cart record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["abandoned_cart"],"security":[],"parameters":[{"name":"abandoned_cart_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"total_price":{"type":"number","description":""},"status":{"type":"string","description":""},"last_activity_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"customer_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"summary":"Edit abandoned_cart record","description":"Edit abandoned_cart record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["abandoned_cart"],"security":[],"parameters":[{"name":"abandoned_cart_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"total_price":{"type":"number","description":""},"status":{"type":"string","description":""},"last_activity_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"customer_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"total_price":{"type":"number","description":""},"status":{"type":"string","description":""},"last_activity_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"customer_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"total_price":{"type":"number","description":""},"status":{"type":"string","description":""},"last_activity_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"customer_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/abandoned_cart_product/{abandoned_cart_product_id}":{"delete":{"summary":"Delete abandoned_cart_product record.","description":"Delete abandoned_cart_product record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["abandoned_cart_product"],"security":[],"parameters":[{"name":"abandoned_cart_product_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"summary":"Get abandoned_cart_product record","description":"Get abandoned_cart_product record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["abandoned_cart_product"],"security":[],"parameters":[{"name":"abandoned_cart_product_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"quantity":{"type":"integer","format":"int64","description":""},"price_at_abandonment":{"type":"number","description":""},"abandoned_cart_id":{"type":"integer","format":"int64","description":""},"product_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"summary":"Edit abandoned_cart_product record","description":"Edit abandoned_cart_product record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["abandoned_cart_product"],"security":[],"parameters":[{"name":"abandoned_cart_product_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"quantity":{"type":"integer","format":"int64","description":""},"price_at_abandonment":{"type":"number","description":""},"abandoned_cart_id":{"type":"integer","format":"int64","description":""},"product_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"quantity":{"type":"integer","format":"int64","description":""},"price_at_abandonment":{"type":"number","description":""},"abandoned_cart_id":{"type":"integer","format":"int64","description":""},"product_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"quantity":{"type":"integer","format":"int64","description":""},"price_at_abandonment":{"type":"number","description":""},"abandoned_cart_id":{"type":"integer","format":"int64","description":""},"product_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/abandoned_cart_product":{"get":{"summary":"Query all abandoned_cart_product records","description":"Query all abandoned_cart_product records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["abandoned_cart_product"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"quantity":{"type":"integer","format":"int64","description":""},"price_at_abandonment":{"type":"number","description":""},"abandoned_cart_id":{"type":"integer","format":"int64","description":""},"product_id":{"type":"integer","format":"int64","description":""}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"summary":"Add abandoned_cart_product record","description":"Add abandoned_cart_product record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["abandoned_cart_product"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"quantity":{"type":"integer","format":"int64","description":""},"price_at_abandonment":{"type":"number","description":""},"abandoned_cart_id":{"type":"integer","format":"int64","description":""},"product_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"quantity":{"type":"integer","format":"int64","description":""},"price_at_abandonment":{"type":"number","description":""},"abandoned_cart_id":{"type":"integer","format":"int64","description":""},"product_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"quantity":{"type":"integer","format":"int64","description":""},"price_at_abandonment":{"type":"number","description":""},"abandoned_cart_id":{"type":"integer","format":"int64","description":""},"product_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/abandoned_cart":{"get":{"summary":"Query all abandoned_cart records","description":"Query all abandoned_cart records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["abandoned_cart"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"total_price":{"type":"number","description":""},"status":{"type":"string","description":""},"last_activity_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"customer_id":{"type":"integer","format":"int64","description":""}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"summary":"Add abandoned_cart record","description":"Add abandoned_cart record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["abandoned_cart"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"total_price":{"type":"number","description":""},"status":{"type":"string","description":""},"last_activity_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"customer_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"total_price":{"type":"number","description":""},"status":{"type":"string","description":""},"last_activity_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"customer_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"total_price":{"type":"number","description":""},"status":{"type":"string","description":""},"last_activity_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"customer_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/admin_panel":{"post":{"summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["admin_panel"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/ai_website_builder_integration/{ai_website_builder_integration_id}":{"delete":{"summary":"Delete ai_website_builder_integration record.","description":"Delete ai_website_builder_integration record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["ai_website_builder_integration"],"security":[],"parameters":[{"name":"ai_website_builder_integration_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"summary":"Get ai_website_builder_integration record","description":"Get ai_website_builder_integration record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["ai_website_builder_integration"],"security":[],"parameters":[{"name":"ai_website_builder_integration_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"api_key":{"type":"string","description":""},"is_active":{"type":"boolean","description":"","default":"false"},"store_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"summary":"Edit ai_website_builder_integration record","description":"Edit ai_website_builder_integration record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["ai_website_builder_integration"],"security":[],"parameters":[{"name":"ai_website_builder_integration_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"api_key":{"type":"string","description":""},"is_active":{"type":"boolean","description":"","default":"false"},"store_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"api_key":{"type":"string","description":""},"is_active":{"type":"boolean","description":"","default":"false"},"store_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"api_key":{"type":"string","description":""},"is_active":{"type":"boolean","description":"","default":"false"},"store_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/ai_website_builder_integration":{"get":{"summary":"Query all ai_website_builder_integration records","description":"Query all ai_website_builder_integration records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["ai_website_builder_integration"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"api_key":{"type":"string","description":""},"is_active":{"type":"boolean","description":"","default":"false"},"store_id":{"type":"integer","format":"int64","description":""}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"summary":"Add ai_website_builder_integration record","description":"Add ai_website_builder_integration record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["ai_website_builder_integration"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"api_key":{"type":"string","description":""},"is_active":{"type":"boolean","description":"","default":"false"},"store_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"api_key":{"type":"string","description":""},"is_active":{"type":"boolean","description":"","default":"false"},"store_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"api_key":{"type":"string","description":""},"is_active":{"type":"boolean","description":"","default":"false"},"store_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/analytics/{analytics_id}":{"delete":{"summary":"Delete analytics record.","description":"Delete analytics record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["analytics"],"security":[],"parameters":[{"name":"analytics_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"summary":"Get analytics record","description":"Get analytics record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["analytics"],"security":[],"parameters":[{"name":"analytics_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"summary":"Edit analytics record","description":"Edit analytics record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["analytics"],"security":[],"parameters":[{"name":"analytics_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/analytics":{"get":{"summary":"Query all analytics records","description":"Query all analytics records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["analytics"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"summary":"Add analytics record","description":"Add analytics record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["analytics"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/blog_post/{blog_post_id}":{"delete":{"summary":"Delete blog_post record.","description":"Delete blog_post record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["blog_post"],"security":[],"parameters":[{"name":"blog_post_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"summary":"Get blog_post record","description":"Get blog_post record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["blog_post"],"security":[],"parameters":[{"name":"blog_post_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"title":{"type":"string","description":""},"content":{"type":"string","description":""},"published_at":{"type":"number","format":"timestamptz","description":""},"is_published":{"type":"boolean","description":"","default":"false"},"updated_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"author_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"summary":"Edit blog_post record","description":"Edit blog_post record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["blog_post"],"security":[],"parameters":[{"name":"blog_post_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"title":{"type":"string","description":""},"content":{"type":"string","description":""},"published_at":{"type":"number","format":"timestamptz","description":""},"is_published":{"type":"boolean","description":"","default":"false"},"updated_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"author_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string","description":""},"content":{"type":"string","description":""},"published_at":{"type":"number","format":"timestamptz","description":""},"is_published":{"type":"boolean","description":"","default":"false"},"updated_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"author_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"title":{"type":"string","description":""},"content":{"type":"string","description":""},"published_at":{"type":"number","format":"timestamptz","description":""},"is_published":{"type":"boolean","description":"","default":"false"},"updated_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"author_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/blog_post_tag/{blog_post_tag_id}":{"delete":{"summary":"Delete blog_post_tag record.","description":"Delete blog_post_tag record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["blog_post_tag"],"security":[],"parameters":[{"name":"blog_post_tag_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"summary":"Get blog_post_tag record","description":"Get blog_post_tag record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["blog_post_tag"],"security":[],"parameters":[{"name":"blog_post_tag_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"blog_post_id":{"type":"integer","format":"int64","description":""},"blog_tag_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"summary":"Edit blog_post_tag record","description":"Edit blog_post_tag record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["blog_post_tag"],"security":[],"parameters":[{"name":"blog_post_tag_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"blog_post_id":{"type":"integer","format":"int64","description":""},"blog_tag_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"blog_post_id":{"type":"integer","format":"int64","description":""},"blog_tag_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"blog_post_id":{"type":"integer","format":"int64","description":""},"blog_tag_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/blog_post_tag":{"get":{"summary":"Query all blog_post_tag records","description":"Query all blog_post_tag records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["blog_post_tag"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"blog_post_id":{"type":"integer","format":"int64","description":""},"blog_tag_id":{"type":"integer","format":"int64","description":""}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"summary":"Add blog_post_tag record","description":"Add blog_post_tag record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["blog_post_tag"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"blog_post_id":{"type":"integer","format":"int64","description":""},"blog_tag_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"blog_post_id":{"type":"integer","format":"int64","description":""},"blog_tag_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"blog_post_id":{"type":"integer","format":"int64","description":""},"blog_tag_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/blog_post":{"get":{"summary":"Query all blog_post records","description":"Query all blog_post records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["blog_post"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"title":{"type":"string","description":""},"content":{"type":"string","description":""},"published_at":{"type":"number","format":"timestamptz","description":""},"is_published":{"type":"boolean","description":"","default":"false"},"updated_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"author_id":{"type":"integer","format":"int64","description":""}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"summary":"Add blog_post record","description":"Add blog_post record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["blog_post"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"title":{"type":"string","description":""},"content":{"type":"string","description":""},"published_at":{"type":"number","format":"timestamptz","description":""},"is_published":{"type":"boolean","description":"","default":"false"},"updated_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"author_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string","description":""},"content":{"type":"string","description":""},"published_at":{"type":"number","format":"timestamptz","description":""},"is_published":{"type":"boolean","description":"","default":"false"},"updated_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"author_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"title":{"type":"string","description":""},"content":{"type":"string","description":""},"published_at":{"type":"number","format":"timestamptz","description":""},"is_published":{"type":"boolean","description":"","default":"false"},"updated_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"author_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/blog_tag/{blog_tag_id}":{"delete":{"summary":"Delete blog_tag record.","description":"Delete blog_tag record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["blog_tag"],"security":[],"parameters":[{"name":"blog_tag_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"summary":"Get blog_tag record","description":"Get blog_tag record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["blog_tag"],"security":[],"parameters":[{"name":"blog_tag_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"name":{"type":"string","description":""},"store_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"summary":"Edit blog_tag record","description":"Edit blog_tag record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["blog_tag"],"security":[],"parameters":[{"name":"blog_tag_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"name":{"type":"string","description":""},"store_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":""},"store_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"name":{"type":"string","description":""},"store_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/blog_tag":{"get":{"summary":"Query all blog_tag records","description":"Query all blog_tag records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["blog_tag"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"name":{"type":"string","description":""},"store_id":{"type":"integer","format":"int64","description":""}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"summary":"Add blog_tag record","description":"Add blog_tag record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["blog_tag"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"name":{"type":"string","description":""},"store_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":""},"store_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"name":{"type":"string","description":""},"store_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/campaign/{campaign_id}":{"delete":{"summary":"Delete campaign record.","description":"Delete campaign record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["campaign"],"security":[],"parameters":[{"name":"campaign_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"summary":"Get campaign record","description":"Get campaign record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["campaign"],"security":[],"parameters":[{"name":"campaign_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"name":{"type":"string","description":""},"type":{"type":"string","description":""},"send_date":{"type":"number","format":"timestamptz","description":""},"status":{"type":"string","description":""},"content":{"type":"string","description":""},"store_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"summary":"Edit campaign record","description":"Edit campaign record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["campaign"],"security":[],"parameters":[{"name":"campaign_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"name":{"type":"string","description":""},"type":{"type":"string","description":""},"send_date":{"type":"number","format":"timestamptz","description":""},"status":{"type":"string","description":""},"content":{"type":"string","description":""},"store_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":""},"type":{"type":"string","description":""},"send_date":{"type":"number","format":"timestamptz","description":""},"status":{"type":"string","description":""},"content":{"type":"string","description":""},"store_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"name":{"type":"string","description":""},"type":{"type":"string","description":""},"send_date":{"type":"number","format":"timestamptz","description":""},"status":{"type":"string","description":""},"content":{"type":"string","description":""},"store_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/campaign_recipient/{campaign_recipient_id}":{"delete":{"summary":"Delete campaign_recipient record.","description":"Delete campaign_recipient record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["campaign_recipient"],"security":[],"parameters":[{"name":"campaign_recipient_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"summary":"Get campaign_recipient record","description":"Get campaign_recipient record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["campaign_recipient"],"security":[],"parameters":[{"name":"campaign_recipient_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"status":{"type":"string","description":""},"campaign_id":{"type":"integer","format":"int64","description":""},"customer_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"summary":"Edit campaign_recipient record","description":"Edit campaign_recipient record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["campaign_recipient"],"security":[],"parameters":[{"name":"campaign_recipient_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"status":{"type":"string","description":""},"campaign_id":{"type":"integer","format":"int64","description":""},"customer_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","description":""},"campaign_id":{"type":"integer","format":"int64","description":""},"customer_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"status":{"type":"string","description":""},"campaign_id":{"type":"integer","format":"int64","description":""},"customer_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/campaign_recipient":{"get":{"summary":"Query all campaign_recipient records","description":"Query all campaign_recipient records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["campaign_recipient"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"status":{"type":"string","description":""},"campaign_id":{"type":"integer","format":"int64","description":""},"customer_id":{"type":"integer","format":"int64","description":""}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"summary":"Add campaign_recipient record","description":"Add campaign_recipient record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["campaign_recipient"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"status":{"type":"string","description":""},"campaign_id":{"type":"integer","format":"int64","description":""},"customer_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","description":""},"campaign_id":{"type":"integer","format":"int64","description":""},"customer_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"status":{"type":"string","description":""},"campaign_id":{"type":"integer","format":"int64","description":""},"customer_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/campaign":{"get":{"summary":"Query all campaign records","description":"Query all campaign records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["campaign"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"name":{"type":"string","description":""},"type":{"type":"string","description":""},"send_date":{"type":"number","format":"timestamptz","description":""},"status":{"type":"string","description":""},"content":{"type":"string","description":""},"store_id":{"type":"integer","format":"int64","description":""}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"summary":"Add campaign record","description":"Add campaign record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["campaign"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"name":{"type":"string","description":""},"type":{"type":"string","description":""},"send_date":{"type":"number","format":"timestamptz","description":""},"status":{"type":"string","description":""},"content":{"type":"string","description":""},"store_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":""},"type":{"type":"string","description":""},"send_date":{"type":"number","format":"timestamptz","description":""},"status":{"type":"string","description":""},"content":{"type":"string","description":""},"store_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"name":{"type":"string","description":""},"type":{"type":"string","description":""},"send_date":{"type":"number","format":"timestamptz","description":""},"status":{"type":"string","description":""},"content":{"type":"string","description":""},"store_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/cart/add":{"post":{"summary":"Add a product to the customer’s cart. If the product already exists, update the quantity.","description":"Add a product to the customer’s cart. If the product already exists, update the quantity.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["cart"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"cart":{"type":"integer","format":"int64","description":"References the cart this item belongs to."},"product":{"type":"integer","format":"int64","description":"References the product added to the cart."},"quantity":{"type":"integer","format":"int64","description":"Quantity of the product in the cart."},"price_at_add":{"type":"number","description":"Price of the product when it was added to the cart."},"product_options":{"type":"object","description":"JSON object storing selected product option values (e.g., size: M, color: Red).","nullable":true}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"Customer_id":{"type":"integer","format":"int64","description":"The ID of the customer who is adding to the cart."},"product_id":{"type":"integer","format":"int64","description":"The ID of the product being added."},"qty":{"type":"integer","format":"int64","description":"The number of units of the product being added."},"product_options":{"type":"object"},"cart_id":{"type":"integer","format":"int64","description":""},"Price":{"type":"number","description":""}},"required":["Customer_id","product_id","qty"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"Customer_id":{"type":"integer","format":"int64","description":"The ID of the customer who is adding to the cart."},"product_id":{"type":"integer","format":"int64","description":"The ID of the product being added."},"qty":{"type":"integer","format":"int64","description":"The number of units of the product being added."},"product_options":{"type":"object"},"cart_id":{"type":"integer","format":"int64","description":""},"Price":{"type":"number","description":""}},"required":["Customer_id","product_id","qty"]}}}}}},"/category/{category_id}":{"delete":{"summary":"Delete category record.","description":"Delete category record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["category"],"security":[],"parameters":[{"name":"category_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"summary":"Get category record","description":"Get category record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["category"],"security":[],"parameters":[{"name":"category_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"name":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"parent_category_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"summary":"Edit category record","description":"Edit category record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["category"],"security":[],"parameters":[{"name":"category_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"name":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"parent_category_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"parent_category_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"name":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"parent_category_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/category":{"get":{"summary":"Query all category records","description":"Query all category records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["category"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"name":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"parent_category_id":{"type":"integer","format":"int64","description":""}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"summary":"Add category record","description":"Add category record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["category"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"name":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"parent_category_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"parent_category_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"name":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""},"parent_category_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/checkout":{"post":{"summary":"Processes customer checkout and creates an order in the system.","description":"Processes customer checkout and creates an order in the system.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["checkout"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"order":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"total_price":{"type":"number","description":""},"status":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"tracking_number":{"type":"string","description":""},"shipping_carrier":{"type":"string","description":""},"store_id":{"type":"integer","format":"int64","description":""},"customer_id":{"type":"integer","format":"int64","description":""},"shipping_address_id":{"type":"integer","format":"int64","description":""},"platform_commission_rate":{"type":"number","description":"The commission rate applied by the platform for this order."},"platform_commission_amount":{"type":"number","description":"The calculated commission amount for the platform from this order."}}},"message":{"type":"string"},"products":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"customer_id":{"type":"integer","format":"int64","description":"required tp identify the customer"},"qty":{"type":"integer","format":"int64","description":"how many they want"},"store_id":{"type":"integer","format":"int64","description":""},"shipping_address_id":{"type":"integer","format":"int64","description":""},"cart_item":{"type":"array","items":{"type":"object","properties":{"product_id":{"type":"integer","format":"int64","description":""},"quantity":{"type":"integer","format":"int64","description":""}}}}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"customer_id":{"type":"integer","format":"int64","description":"required tp identify the customer"},"qty":{"type":"integer","format":"int64","description":"how many they want"},"store_id":{"type":"integer","format":"int64","description":""},"shipping_address_id":{"type":"integer","format":"int64","description":""},"cart_item":{"type":"array","items":{"type":"object","properties":{"product_id":{"type":"integer","format":"int64","description":""},"quantity":{"type":"integer","format":"int64","description":""}}}}}}}}}}},"/create_checkout":{"post":{"summary":"Creates an order from the user’s cart","description":"Creates an order from the user’s cart\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["create_checkout"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"cart":{"type":"integer","format":"int64","description":"References the cart this item belongs to."},"product":{"type":"integer","format":"int64","description":"References the product added to the cart."},"quantity":{"type":"integer","format":"int64","description":"Quantity of the product in the cart."},"price_at_add":{"type":"number","description":"Price of the product when it was added to the cart."},"product_options":{"type":"object","description":"JSON object storing selected product option values (e.g., size: M, color: Red).","nullable":true}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"customer_id":{"type":"integer","format":"int64","description":": Reference to the customer placing the order.","nullable":true},"cart_id":{"type":"integer","format":"int64","description":"Reference to the customer\u0027s cart.","nullable":true},"shipping_address_id":{"type":"integer","format":"int64","description":"The ID of the shipping address for the order","nullable":true},"payment_method_id":{"type":"integer","format":"int64","description":"Reference to the payment method tied to Stripe.","nullable":true},"tracking_number":{"type":"string","description":""}},"required":["customer_id","cart_id","shipping_address_id","payment_method_id"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"customer_id":{"type":"integer","format":"int64","description":": Reference to the customer placing the order.","nullable":true},"cart_id":{"type":"integer","format":"int64","description":"Reference to the customer\u0027s cart.","nullable":true},"shipping_address_id":{"type":"integer","format":"int64","description":"The ID of the shipping address for the order","nullable":true},"payment_method_id":{"type":"integer","format":"int64","description":"Reference to the payment method tied to Stripe.","nullable":true},"tracking_number":{"type":"string","description":""}},"required":["customer_id","cart_id","shipping_address_id","payment_method_id"]}}}}}},"/customer/{customer_id}":{"delete":{"summary":"Delete customer record.","description":"Delete customer record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["customer"],"security":[],"parameters":[{"name":"customer_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"summary":"Get customer record","description":"Get customer record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["customer"],"security":[],"parameters":[{"name":"customer_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"name":{"type":"string","description":""},"email":{"type":"string","description":"","format":"email"},"phone":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"summary":"Edit customer record","description":"Edit customer record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["customer"],"security":[],"parameters":[{"name":"customer_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"name":{"type":"string","description":""},"email":{"type":"string","description":"","format":"email"},"phone":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":""},"email":{"type":"string","description":"","format":"email"},"phone":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"name":{"type":"string","description":""},"email":{"type":"string","description":"","format":"email"},"phone":{"type":"string","description":""},"updated_at":{"type":"number","format":"timestamptz","description":""},"store_id":{"type":"integer","format":"int64","description":""}}}}}}}},"/customer_address/{customer_address_id}":{"delete":{"summary":"Delete customer_address record.","description":"Delete customer_address record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["customer_address"],"security":[],"parameters":[{"name":"customer_address_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional pr
[...]
